<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="TobySolo.312674E3C56F2"
    Publisher="CN=BBFC9555-B064-4A94-B7B3-FE2E887C0C99"
    Version="3.1.147.0" />

  <mp:PhoneIdentity PhoneProductId="8dac229f-0c01-4807-9447-bd7efd4f2133" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Underwater Surveyor</DisplayName>
    <PublisherDisplayName>TobySolo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
		<uap:VisualElements
		  DisplayName="Underwater Surveyor"
		  Description="Fish measurement survey software.  This software is used to process videos from a sterographic camera rig."
		  BackgroundColor="transparent"
		  Square44x44Logo="Assets\Logo.png"
		  Square150x150Logo="Assets\SquareLogo.png">
			<uap:DefaultTile Wide310x150Logo="Assets\WideLogo.png">
				<uap:ShowNameOnTiles>
					<uap:ShowOn Tile="square150x150Logo"/>
					<uap:ShowOn Tile="wide310x150Logo"/>
				</uap:ShowNameOnTiles>
			</uap:DefaultTile >
			<uap:SplashScreen Image="Assets\SplashScreen.png" />
			<uap:InitialRotationPreference>
				<uap:Rotation Preference="landscape"/>
			</uap:InitialRotationPreference>
		</uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
	<rescap:Capability Name="runFullTrust" />
	<uap:Capability Name="userAccountInformation"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="objects3D"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="videosLibrary"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>
