<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="8c0e24ec-57ee-4dad-b96b-fdbe9463de8e"
    Publisher="CN=Toby Haddon"
    Version="3.1.117.0" />

  <mp:PhoneIdentity PhoneProductId="8c0e24ec-57ee-4dad-b96b-fdbe9463de8e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Surveyorv3</DisplayName>
    <PublisherDisplayName>Toby Haddon</PublisherDisplayName>
    <Logo>Assets\surveyor-dark.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Surveyor"
        Description="Fish measurement survey software.  This software is used to process videos from a sterographic camera rig."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\surveyor-dark.png"
        Square44x44Logo="Assets\surveyor-dark.png">
        <uap:DefaultTile  Wide310x150Logo="Assets\surveyor-dark.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="userAccountInformation"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="objects3D"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="videosLibrary"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>
